@{
    ViewBag.Title = "Skor - Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(ViewBag.error ?? "")

@if (ViewBag.error == null)
{
    <h2 class="page_title azul">
        Bienvenido
        @if (ViewBag.usuario != null)
        {
            <strong> @ViewBag.usuario.MIS_Personas.nombre1 </strong>
        }
        a <b class="text-danger h5">¡Qué Golazo!</b>
    </h2>

    <div class="page_single layout_fullwidth_padding toolbarpage">

        @if (ViewBag.usuario != null)
        {
            <div class="row">
                <div class="col-100">

                    @if (ViewBag.usuario.ranking == 1)
                    {
                        <p class="description card-title">Aquí encontrarás todos los juegos de nuestros auspiciantes y podrás competir por los premios de cada juego, y el premio mayor de <b class="text-danger h4">¡Qué Golazo!</b>  </p>
                        <p class="description card-title">Escoge tu juego preferido, inscríbete y empieza a pronosticar ahora mismo.</p>
                        <p class="description card-title ">Entra al juego de tu interés y conoce las condiciones para participar.</p>
                    }
                    else
                    {
                        <p>
                            Tu posición en el<a href="@Url.Action("Generales", "Posiciones")" class="linkBlue external"> ranking</a> es: @ViewBag.usuario.posicion<br />
                            @ViewBag.usuario.Rankings.nombre<br />
                            @*Acertaste @ViewBag.usuario.puntosNuevos puntos la anterior semana*@
                        </p>
                        <p class="centrado"><img src="~/images/rankings/@(ViewBag.usuario.ranking).gif" class="imgRanking;"></p>
                    }

                </div>
            </div>
        }
        else
        {
            <p class="description card-title">Aquí encontrarás todos los juegos de nuestros auspiciantes y podrás competir por los premios de cada juego, y el premio mayor de <b class="text-danger h4">¡Qué Golazo!</b>  </p>
            <p class="description card-title">Escoge tu juego preferido, inscríbete y empieza a pronosticar ahora mismo.</p>
            <p class="description card-title ">Entra al juego de tu interés y conoce las condiciones para participar.</p>
        }


        <div class="row class_" hidden>
            <div class="col-100">
                <a href="#" class="external">
                    <div id="divContador">
                        <p>El mundial de fútbol empezará en</p>
                        <span class="h4 p-2 mb-3 font-weight-bold" id="cuenta1"></span>
                        <div id="cuenta"></div>
                        <p class="mt-2" style="font-size:18px;">PRONOSTICA YA!!!</p>
                    </div>
                </a>
            </div>
        </div>

       



        @* 'panel para mostrar lista de juegos' *@
        <div class="row">
            <div class="col mb-3 mt-4">
                <h4 class=" azul" style="font-weight: bold;">
                    Sección de juegos
                </h4>

            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @* recorrido del bucle para llenar los juegos *@
            @foreach (var juego in ViewBag.ListaJuegosPublicados)
            {

                if (juego.Bloqueo == false)
                {
                    <div class="col m-auto">
                        <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row ">
                                <div class="col-md-3 m-auto text-center">
                                    @if (juego.PATROCINADORES != null)
                                    {
                                        foreach (var patrocinador in juego.PATROCINADORES)
                                        {

                                            if (patrocinador.ImgRuta != null)
                                            {
                                                if (@patrocinador.ImgRuta.Length == 0)
                                                {
                                                    <img src="~/Content/img_juego/juego.png" class="img-fluid rounded-start p-1 mt-2 m-auto" alt="QG">}
                                                else
                                                {
                                                    <img src="@patrocinador.ImgRuta" class="img-fluid rounded-start p-1 mt-2 m-auto" alt="@patrocinador.RazonSocial">
                                                }

                                            }




                                        }
                                    }
                                    else
                                    {

                                        if (juego.ImgRuta != null && juego.ImgRuta != "")
                                        {
                                            <img src="@juego.ImgRuta" class="img-fluid rounded-start p-1 mt-2 m-auto" alt="sss">
                                        }
                                        else
                                        {
                                            <img src="~/Content/img_juego/juego.png" class="img-fluid rounded-start p-1 mt-2 m-auto" alt="QG">
                                        }

                                    }
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body">
                                        <h5 class="card-title"> @juego.Juego </h5>
                                        <p class="card-text">@juego.JuegoDescripcion</p>
                                        @if (juego.PATROCINADORES != null)
                                        {
                                            <p class="card-text">
                                                Patrocinador(es):


                                                @foreach (var patrocinador in juego.PATROCINADORES)
                                                {
                                                    if (@patrocinador.RazonSocial.Length > 1)
                                                    {
                                                        <span class="badge bg-light text-dark">@patrocinador.RazonSocial</span>
                                                    }
                                                    else
                                                    {

                                                        <span class="badge bg-light text-dark">QG</span>
                                                    }
                                                    
                                                  }
                                                </p>
                                            }
                                        <p class="card-text"><small class="text-muted"> Este juego inicia el @juego.FechaInicio  - termina el @juego.FechaFin </small></p>
                                        @if (ViewBag.usuario != null)
                                        {
                                            <div class="row">
                                                <div class="col-6  d-grid gap-2">
                                                    @if (juego.ESTADO.JuegoEstado == "PRIVADO")
                                                    {
                                                        <button type="button" onclick="juego_private(@juego.IdJuego)" class=" btn btn-danger">
                                                            Jugar
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        @*<a href='@Url.Action("Carti","Juego")' class="btn btn-danger ">Jugar2</a>*@
                                                        <button type="button" class="btn btn-danger" onclick="juego_public(@juego.IdJuego)">
                                                            Jugar
                                                        </button>
                                                    }
                                                </div>
                                                <div class="col-6 text-end ">
                                                    <span class="badge rounded-pill bg-light  text-dark mt-2">@juego.ESTADO.JuegoEstado</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-6  d-grid gap-2">

                                                    <a href="#" data-popup=".popup-login" class="open-popup btn btn-danger">
                                                        Jugar
                                                    </a>
                                                    @*<a href='@Url.Action("Ejemplo","Inicio")' class="btn btn-danger ">Jugar</a>*@

                                                </div>
                                                <div class="col-6 text-end ">
                                                    <span class="badge rounded-pill bg-light  text-dark mt-2">@juego.ESTADO.JuegoEstado</span>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

        </div>

        @*@if (ViewBag.cartillasAbiertas.Count > 0)
        {
            <h5 class="titulo">Cartillas abiertas - Participa: </h5>
            <ul class="features_list_detailed">
                @foreach (var cu in ViewBag.cartillasAbiertas)
                {
                    <li>
                        <a href="@Url.Action("Index", "Cartilla", new { id = cu.id })" class="external">
                            <div class="button-cartilla">
                                <div class="feat_small_icon">
                                    <img src="~/images/campannas/iconos/@(cu.id).png" alt="" title="" />
                                </div>
                                <div class="feat_small_details">
                                    <h4>@(cu.nombre)</h4>
                                </div>
                                <div style="clear:both;margin-top:50px;">
                                    <p>@(cu.descripcion)</p>
                                    <p>Juega hasta: <span style="font-weight:bold;">@(cu.fechaCierre.ToString("dd-MMM"))</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        }*@

        @*@if (ViewBag.cartillasCerradas.Count > 0)
        {
            <h5 class="titulo">Cartillas cerradas - Mira los resultados:</h5>
            <ul class="features_list_detailed">
                @foreach (var cu in ViewBag.cartillasCerradas)
                {
                    <li>
                        <a href="@Url.Action("Index", "Cartilla", new { id = cu.id })" class="external">
                            <div class="button-cartilla_no">
                                <div class="feat_small_icon">
                                    <img src="~/images/campannas/iconos/@(cu.id).png" alt="" title="" />
                                </div>
                                <div class="feat_small_details">
                                    <h4>@(cu.nombre)</h4>
                                </div>

                            </div>
                        </a>
                    </li>
                }
            </ul>

            <p class="centrado">
                <span class="button-wrap">
                    <a href="@Url.Action("Terminadas", "Cartilla")" class="button button-pill external">Revisa juegos pasados</a>
                </span>
            </p>
        }*@

        <br /><br />
        <h5 class="titulo">Ranking ¡Qué Golazo!</h5>

        <ul class="responsive_table">
            <li class="table_row bg-danger"><div class="table_section_14" style="width:8%;">Pos.</div><div class="table_section_14" style="width:78%;">Nombre</div><div class="table_section_14" style="width:8%;">Pts.</div></li>
            @{
                var contador = 0;
            }
            @foreach (var posicion in ViewBag.posiciones)
            {
                contador += 1;
                <li class="table_row">
                    <div class="table_section_14 " style="width:8%;">@posicion.posicion</div>
                    <div class="table_section_14" style="width:78%;">
                        @posicion.nombreCompleto
                        @if (contador == 1)
                        {
                            <img style="display:inline; width:24px;" title="El rey de ¡Qué Golazo!" alt="El rey de ¡Qué Golazo!" src='~/images/skor/corona.png' />
                        }

                    </div>
                    <div class="table_section_14" style="width:8%;">@posicion.puntos</div>
                </li>
            }
        </ul>

        <p class="centrado">
            <span class="button-wrap">
                <a href="@Url.Action("Generales", "Posiciones")" class="button button-pill external">Ver más</a>
            </span>
        </p>

        <!-- page Popup -->
        <div class="popup popup-page shadow-lg p-3 mb-5 bg-body rounded">
            <div class="content-block">

                <div class="close_popup_button">
                    <a id="closePopupLogin" href="#" class="close-popup"><img src="~/images/icons/black/menu_close.png" alt="" title="" /></a>
                </div>
                <div class="row">
                    <div col-md-8 col-sm-12>
                        <div class="form-groud ">
                            <div class="alert alert-success text-center text-muted shadow-lg p-3 mb-5 bg-body rounded" role="alert">
                                <h2> Elige el método de pago </h2>
                            </div>
                            <div class="col text-center">
                                <div id="pp-button"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="d-grid gap-2 col-6 mx-auto mt-4 ">
                        <button type="button" class="btn btn-secondary btn-lg close-popup">Enviar código</button>
                    </div>*@
                </div>
            </div>
        </div>

        @*<h2>@vUsuarios.web.TraeUsuarioRegistrado().idPersona</h2>*@


    </div>

    @section css{
        <link href="~/Content/css/estilos.css" rel="stylesheet" />
           
    }


    @section js{
        <script src="~/Scripts/jquery.countdown.min.js"></script>
        <script src="~/Scripts/skor/Inicio/Index.cshtml.js?ver=1.0.0"></script>
        <script src="~/Content/js/gInicio.js"></script>
        <script src="https://pay.payphonetodoesposible.com/api/button/js?appId=ee6c47pA1UiGpWVKnsy3w"></script>
        <script src="~/Content/js/simplyCountdown.min.js"></script>
        <script>
           
          
        </script>

    }

}